.p-text{
    text-align: justify;

}
.p-link{
    text-decoration: none;
    color: red;
    text-align: justify;
}
.alignment{
    text-align: justify;
}
a{
    text-decoration: none;
    color: red;
}
.card-title{
    color: red;
    text-align: center;
}
@media(max-width:991.98px) {
    .ort{
        text-align: center;
    }
.card-body{
    height: 100px;
    margin-top: -10px;
    text-align: center;
}
.ort2{
    text-align: center;

}
}


